@model IEnumerable<MVCCRUDW1.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>客戶聯絡人</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "客戶聯絡人", FormMethod.Get))
{
    <p>
        <input type="text" name="SearchString" placeholder="搜尋關鍵字" />

    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Index", new { sortOrder = "職稱", currentSort = ViewBag.職稱Sort })
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { sortOrder = "姓名", currentSort = ViewBag.姓名Sort })

        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "Email", currentSort = ViewBag.EmailSort })

        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { sortOrder = "手機", currentSort = ViewBag.手機Sort })

        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sortOrder = "電話", currentSort = ViewBag.電話Sort })

        </th>

        <th>
            @Html.ActionLink("客戶資料", "Index", new { sortOrder = "客戶名稱", currentSort = ViewBag.客戶名稱Sort })

            @*@Html.DisplayNameFor(model => model.客戶資料.客戶名稱)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
