@model IEnumerable<MVCCRUDW1.ViewModel.客戶聯絡人VM>

@section navname{
    <li><a href="#">客戶聯絡人</a></li>
}

@using (Html.BeginForm("Index", "客戶聯絡人", FormMethod.Get))
{
    <p>
        <input type="text" name="SearchString" placeholder="搜尋關鍵字" />

    </p>
}
@using (Html.BeginForm())
{

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("職稱", "Index", new { sortOrder = "職稱", currentSort = ViewBag.職稱Sort })
            </th>
            <th>
                @Html.ActionLink("姓名", "Index", new { sortOrder = "姓名", currentSort = ViewBag.姓名Sort })

            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortOrder = "Email", currentSort = ViewBag.EmailSort })

            </th>
            <th>
                @Html.ActionLink("手機", "Index", new { sortOrder = "手機", currentSort = ViewBag.手機Sort })

            </th>
            <th>
                @Html.ActionLink("電話", "Index", new { sortOrder = "電話", currentSort = ViewBag.電話Sort })

            </th>

            <th>
                @Html.ActionLink("客戶資料", "Index", new { sortOrder = "客戶名稱", currentSort = ViewBag.客戶名稱Sort })
            </th>
            <th></th>
        </tr>

        @*@foreach (var item in Model)*@
        @{
            var data = Model.ToArray();
        }
        @for (int i = 0; i < data.Length; i++)
        {
            @Html.HiddenFor(modelItem => data[i].Id)

            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].職稱)
                    <br />
                    @Html.ValidationMessageFor(modelItem => data[i].職稱, "", new { @class = "text-danger" })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].Email)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].手機)
                    <br />
                    @Html.ValidationMessageFor(modelItem => data[i].手機, "", new { @class = "text-danger" })

                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].電話)
                    <br />
                    @Html.ValidationMessageFor(modelItem => data[i].電話, "", new { @class = "text-danger" })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].客戶資料.客戶名稱)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].Id }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].Id })
                </td>
            </tr>
        }

    </table>
    <div>
        <input type="submit" value="批次更新" />
        @Html.ActionLink("匯出Excel", "closedXMLDataExport", "客戶聯絡人", htmlAttributes: new { @class = "btn btn-default" })

    </div>

}